<h2 class="page-title">REQUERIMIENTOS ACTUALES</h2>

<div class="dashboard">
  <div class="metric">
    <svg class="metric-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z" fill="currentColor"/>
    </svg>
    <h3>Requerimientos<br />Totales</h3>
    <p>{{ getTotalRQs() }}</p>
  </div>

  <div class="metric">
    <svg class="metric-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="currentColor"/>
    </svg>
    <h3>Requerimientos<br />Activos</h3>
    <p>{{ getActiveRQs() }}</p>
  </div>

  <div class="metric">
    <svg class="metric-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" fill="currentColor"/>
    </svg>
    <h3>Personal<br />a incorporar</h3>
    <p>{{ getTotalPersonalRequerido() }}</p>
  </div>

  <div class="metric">
    <svg class="metric-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2c1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3 1.34 3 3 3zm0 7v-2.5c0-1.88 3.13-2.85 5-2.85s5 .97 5 2.85V17H6zm9-6v-3h3v-2h-3V4h-2v3h-3v2h3v3h2z" fill="currentColor"/>
    </svg>
    <h3>Postulantes<br />Totales</h3>
    <p>{{ getTotalPostulantes() }}</p>
  </div>

  <div class="metric">
    <svg class="metric-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="currentColor"/>
    </svg>
    <h3>Trabajadores<br />Contratados</h3>
    <p>{{ getContratados() }}</p>
  </div>
</div>

<div class="filters">
  <div class="filter-group">
    <label>Estado</label>
    <select title="Filtrar por estado" [(ngModel)]="statusFilter">
      <option value="todos">Todos</option>
      <option value="abierto">Abierto</option>
      <option value="cerrado">Cerrado</option>
    </select>
  </div>

  <div class="filter-group">
    <label>Campaña</label>
    <select title="Filtrar por campaña" [(ngModel)]="campaignFilter">
      <option value="">Todas las campañas</option>
      <option *ngFor="let camp of uniqueCampaigns" [value]="camp">
        {{ camp }}
      </option>
    </select>
  </div>
</div>

<div *ngIf="filteredAndSortedRqs.length > 0" class="rqs-list">
  <table class="rqs-table">
    <colgroup>
      <col class="col-codigo" />
      <col class="col-campania" />
      <col class="col-puesto" />
      <col class="col-cantidad" />
      <col class="col-fecha" />
      <col class="col-fecha" />
      <col class="col-dias" />
      <col class="col-fecha" />
      <col class="col-estado" />
      <col class="col-acciones" />
    </colgroup>

    <thead>
      <tr>
        <th (click)="sortBy('codigo')">
          Código
          <span class="sort-arrow" *ngIf="sortColumn === 'codigo'">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        </th>

        <th (click)="sortBy('campaign')">
          Campaña
          <span class="sort-arrow" *ngIf="sortColumn === 'campaign'">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        </th>

        <th (click)="sortBy('puesto')">
          Puesto
          <span class="sort-arrow" *ngIf="sortColumn === 'puesto'">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        </th>

        <th (click)="sortBy('cantidad')">
          Cant.
          <span class="sort-arrow" *ngIf="sortColumn === 'cantidad'">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        </th>

        <th (click)="sortBy('fechaInicioCapacitacion')">
          Inicio<br />capac.
          <span class="sort-arrow" *ngIf="sortColumn === 'fechaInicioCapacitacion'">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        </th>

        <th (click)="sortBy('fechaFinCapacitacion')">
          Fin<br />capac.
          <span class="sort-arrow" *ngIf="sortColumn === 'fechaFinCapacitacion'">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        </th>

        <th (click)="sortBy('diasCapacitacion')">
          Días<br />capac.
          <span class="sort-arrow" *ngIf="sortColumn === 'diasCapacitacion'">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        </th>

        <th (click)="sortBy('fechaIngreso')">
          Fecha<br />ingreso
          <span class="sort-arrow" *ngIf="sortColumn === 'fechaIngreso'">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        </th>

        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let rq of filteredAndSortedRqs" class="rq-row">
        <td>
          <a [routerLink]="['/reclutamiento/rq', rq.codigo, 'candidatos']" class="rq-link">
            {{ rq.codigo }}
          </a>
        </td>

        <td class="text-wrap">{{ rq.campaign }}</td>
        <td class="text-wrap">{{ rq.puesto }}</td>
        <td>{{ rq.cantidad }}</td>
        <td>{{ rq.fechaInicioCapacitacion }}</td>
        <td>{{ rq.fechaFinCapacitacion }}</td>
        <td>{{ rq.diasCapacitacion }}</td>
        <td>{{ rq.fechaIngreso }}</td>

        <td>
          <span class="estado-badge" [class.estado-cerrado]="rq.estado === 'CERRADO'">
            {{ rq.estado }}
          </span>
        </td>

        <td>
          <div class="actions-cell">
            <a
              [routerLink]="['/reclutamiento/rq', rq.codigo, 'candidatos']"
              class="link-button"
            >
              Candidatos
            </a>

            <a
              [routerLink]="['/reclutamiento/rq', rq.codigo]"
              class="link-button secondary-action"
            >
              Resultados
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="filteredAndSortedRqs.length === 0" class="no-rqs">
  <p>No hay RQs que coincidan con los filtros seleccionados.</p>
</div>